.login {
    background-color: #212121;
}

.close {
    position: absolute;
    right: 2%;
    top: 1%;
}
.logo {
    position: relative;
    top: 10%;
    img {
        display: inherit;
        height: 128px;
        width: 128px;
        margin: auto;
    }
}
