.login-form {

    position: absolute;
    top: 45%;
    height: 40%;
    width: 91%;

    .login-button {
        display: initial;
        margin:auto;
    }

    .bb {
        border-bottom: 1px solid #666;
    }
}
