@import '../../theme/colors';

.collection {

    background-color: $dark-secondary;
    margin-left: 1em;

    ion-segment {
        display: block;

        ion-segment-button.item.segment-button {
            width: 100% !important;
            text-align: left;
        }

        ion-badge.badge.badge-md {
            position: absolute;
            right: 0;
            top: 12px;
        }
    }
}
