@import '../../theme/colors';

.m-nav {

    background-color: $dark-secondary;
    visibility: hidden;
    height: 0;
    width: 0;

    @media(min-width: 768px) {
        visibility: visible !important;
        width: $menu-w;
        position: fixed;
        height: 100%;
        padding-right: 15px;
    }
}


.side {

    padding: 10px 0 !important;
    width: 100%;

    .card.card-md {
        margin: 10px 0;
        width: 100%;
    }

    @media(min-width: 500px) {
        width: 92%;
        margin: auto;
    }

    @media(min-width: 650px) {
        width: 85%;
    }

    @media(min-width: 768px) {
        position: absolute;
        left: $menu-w;
        width: calc(100% - #{$menu-w});
        .card.card-md {
            margin: 10px auto;
            width: 85%;
        }
    }

    @media(min-width: 992px) {
        padding: 10px 16px !important;
        .card.card-md {
            width: 96%;
        }
    }

    @media(min-width: 1200px) {
        padding: 1% 5% !important;
    }
}

