<ion-header>
    <navbar [title]="title"></navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <div class="m-nav">
            <collections></collections>
        </div>
        <div class="side" padding>
            <ion-row>
                <ion-col *ngFor="let i of items" col-12 col-lg-6>
                    <ion-card>
                        <ion-row>
                            <ion-col>
                                <h2>{{ i.title }}</h2>
                            </ion-col>
                            <ion-col>
                                <ion-buttons right>
                                    <button icon-only ion-button>
                                        <ion-icon name="more"></ion-icon>
                                    </button>
                                </ion-buttons>
                            </ion-col>
                        </ion-row>
                        <div *ngIf="i.images.length > 1">
                            <slide [images]="i.images" [display]="display"></slide>
                        </div>
                        <div *ngIf="i.images.length === 1">
                            <img [src]="i.images[0]" (click)="openPostDetails(i)" />
                        </div>
                        <ion-row>
                            <ion-col>
                                <p>Post a comment</p>
                            </ion-col>
                            <ion-col>
                                <ion-buttons end>
                                    <button ion-button icon-only>
                                        <ion-icon name="share"></ion-icon>
                                    </button>
                                    <button ion-button>
                                        +1
                                    </button>
                                </ion-buttons>
                            </ion-col>
                        </ion-row>
                    </ion-card>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>
</ion-content>
