<ion-header>
    <navbar [title]="title"></navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <div class="m-nav">

            <div class="collection">
                <ion-segment [(ngModel)]="articles">
                    <div *ngFor="let i of collections">
                        <ion-segment-button class="item" [value]="i.name">
                            {{ i.name }}
                            <ion-badge item-end>{{ i.follower.length }}</ion-badge>
                        </ion-segment-button>
                    </div>
                </ion-segment>
            </div>

        </div>

        <div class="side" [ngSwitch]="articles">

            <div *ngFor="let c of collections">
                <div *ngSwitchCase="c.name">
                </div>
            </div>

            <div class="articles" *ngSwitchDefault>
                <post-list></post-list>
            </div>
        </div>
    </ion-grid>
</ion-content>
