@import '../../theme/colors';

.post-content {
    height: 128px;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    width: 90%;
    line-height: .7em;
    .button-md {
        width: 1px;
    }

    @media(min-width: 500px) {
        width: 96%;
    }
    @media(min-width: 992px) {
        width: 94%;
    }
    .button-md {
        font-size: 2.6rem;
    }
}

.more {
    position: absolute;
    bottom: 108px;
    right: 7px;
    @media(min-width: 268px) {
        bottom: 64px;
    }
    @media(min-width: 500px) {
        right: 4px;
    }
    @media(min-width: 768px) {
        right: 63px;
    }
    @media(min-width: 992px) {
        right: 7px;
    }
}

.article-footer {
    padding: 5px 5px;
}
