// colors
$magenta: #4b3c50;
$cyan: #00695C;
$white: #BEBEBE;

$primary: $cyan;
$secondary: $magenta;
$danger: #f53d3d;
$light: #D7CCC8;
$dark: rgba(20,25,24,1);
$banner: rgba(6,6,8,.95);
$trans: rgba(18,18,20,.1);

$bg: $dark;
$bgHover: #004D40;
$bgBorder: $magenta;
$fg: $light;
$bgFilterImg: rgba(20,25,24,.6);
