@import "../../theme/colors";

.main_menu {

    background-color: $bg;

    button {
        font-weight: 300;
        &:hover {
            background-color: $bgHover;
        }
    }

    img {
        width: 111px;
        height: 111px;
        margin-left: 1em;
    }

}
