.menu-inner {

    @media(min-width:576px) {
        width: 290px;
    }
    @media(min-width:768px) {
        width: 400px;
    }
}

.main_menu {

    background-color: #212121 !important;

    button {
        font-weight: bold;
    }

    img {
        width: 111px;
        height: 111px;
        margin-left: 1em;
    }

}
