@import "../../theme/colors";

.menu-inner {

    @media(min-width:576px) {
        width: 290px;
    }
    @media(min-width:768px) {
        width: 400px;
    }
}

.main_menu {

    background-color: $bg;

    button {
        font-weight: 300;
        &:hover {
            background-color: $bgHover;
        }
    }

    img {
        width: 111px;
        height: 111px;
        margin-left: 1em;
    }

}
